:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --transluent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;     
}

@font-face {
    font-family: "Open Sans";
    src: url();
}

@font-face {
    font-family: "Neucha";
    src: url();
}

header h1 {
    font: 72px/1.2em "Neucha", sans-serif;
}

header h1 black {
    color: var(--dark);
}

header h1 orange {
    color: var(--main-color);
}

article h2 {
    font: 60px/1.2em "Neucha", sans-serif;
}

article h3 {
    font: 34px/1.2em "Neucha", sans-serif;
}

article {
    font: 16px/1.6em "Open Sans", sans-serif; 
    color: var(--dark);
}

body {
    
    display: block;
    max-width: 1110px;
}